

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');


body {
    font-family: 'Syne', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.bloc-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    height: 80px;
    background: #FFFFFF
}


.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 201px;
    height: 19px;
    margin-left: 37px;
    margin-top: 31px;

}


.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    list-style: none !important;
    font-size: 16px;
    width: 300px;
    margin-top: 30px;
    margin-right: 50px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.bloc-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440px;
    height: 60px;
    margin-top: 25px;
    background: #FFFFFF;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none !important;
    font-size: 16px;
    color: #000000;
}


.form-button-contact {
    display: block; 
    margin: 0 auto;
    width: 198px;
    height: 55px;
    border: none; 
    font-family: 'Syne', sans-serif; 
    font-size: 16px; 
 
}

